html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
      12deg,
      rgba(193, 193, 193, 0.05) 0%,
      rgba(193, 193, 193, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 100%
    ),
    linear-gradient(
      321deg,
      rgba(240, 240, 240, 0.05) 0%,
      rgba(240, 240, 240, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 100%
    ),
    linear-gradient(
      236deg,
      rgba(189, 189, 189, 0.05) 0%,
      rgba(189, 189, 189, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 100%
    ),
    linear-gradient(
      96deg,
      rgba(53, 53, 53, 0.05) 0%,
      rgba(53, 53, 53, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 98%,
      rgba(8, 8, 8, 0.05) 98%,
      rgba(8, 8, 8, 0.05) 100%
    ),
    linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));
  margin: 0;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  opacity: 0;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: rgb(41, 41, 46);
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  color: aliceblue;
  font-size: 1vw;
  font-family: monospace;
  user-select: none;
}
header img {
  width: 5vw;
}
.welcome-link {
  display: inline-block;
  color: rgba(240, 248, 255, 0.801);
  margin-right: 1.5vw;
  word-spacing: -0.1vw;
}
.welcome-link:after {
  display: block;
  content: "";
  height: 0.1vw;
  width: 0%;
  background-color: aliceblue;
  transition: width 200ms ease-in-out;
}
.welcome-link:hover:after,
.welcome-link:focus:after {
  width: 100%;
}
.welcome-link:hover {
  color: aliceblue;
}
.authorization {
  color: aliceblue;
}
.authorization:hover {
  color: rgb(179, 179, 179);
}

/* PASSWORDFORM */
#password {
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.passwordmain {
  background-color: rgba(0, 0, 0, 0.281);
  width: 45vw;
  height: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  /* gap: vw; */
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border-radius: 2vw;
}
.passwordform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.passwordtext {
  display: flex;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  gap: 2vw;
}
.passwordtext h1 {
  margin: 0;
  font-size: 1.6vw;
}
.passwordtext p {
  margin: 0;
  font-size: 0.9vw;
  opacity: 0.8;
}
.inputform {
  /* background-color: rgb(41, 41, 41);  */
  width: 30vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2vw 0;
  border-bottom: 0.2vw solid aliceblue;
}
#passwordoutput {
  background-color: #00000000;
  width: 12.75vw;
  height: 1.7vw;
  color: aliceblue;
  font-size: 1vw;
  font-family: "Courier New", Courier, monospace;
  border: 0;
}
#passwordstat {
  background-color: #00000000;
  width: 12.75vw;
  height: 1.7vw;
  color: aliceblue;
  font-size: 1vw;
  font-family: "Courier New", Courier, monospace;
  border: 0;
}
.inputform button {
  background-color: rgb(54, 54, 54);
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
}
.inputform button img {
  width: 1vw;
}
.passwordconditions {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.passwordconditions p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 0.5vw;
  font-size: 1vw;
}
.passwordconditions p input {
  margin: 0;
  width: 1vw;
  height: 1vw;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 10vw;
  height: 0.5vw;
  border-radius: 5px;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background: #686868;
  cursor: ew-resize;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#startbut {
  background-color: #333333;
  width: 15vw;
  height: 2vw;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9vw;
  border-radius: 1vw;
  /* border: 0; */
}

/* NAVIGATION */
#navigation {
  background-color: #181818;
  height: 11vw;
  padding: 2vw;
  padding-bottom: 0;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border-radius: 2vw 2vw 0 0;
  box-shadow: 0px -2vw 5vw -1.5vw #000000;
}
#navigation h1 {
  margin: 0;
  font-size: 2vw;
}
#navigation ul {
  padding-left: 2.1vw;
  margin: 1vw 0 1vw 0;
}
#navigation li {
  font-size: 1.2vw;
  width: fit-content;
  margin-bottom: 0.5vw;
}
#navigation li a {
  color: rgba(240, 248, 255, 0.836);
}
#navigation li:after {
  display: block;
  content: "";
  height: 0.15vw;
  width: 0%;
  background-color: aliceblue;
  transition: width 200ms ease-in-out;
}
#navigation li:hover:after,
#navigation li:focus:after {
  width: 100%;
}
#navigation li:hover {
  color: aliceblue;
}

/* FOOTER */
.hr1 {
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 70vw;
  height: 0.2vw;
  margin: 0 auto;
  border-radius: 100vw;
}
#footer {
  background-color: #181818;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw 0 2vw;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}
#footer h1 {
  margin: 0;
  font-size: 1.8vw;
  margin-bottom: 1vw;
}
#footer p {
  font-size: 1.2vw;
  margin-top: 0;
  max-width: 15vw;
}
#footer img {
  width: 5vw;
  height: 5vw;
}
#footer div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#footer div:nth-child(2) div {
  background-color: aliceblue;
  width: 7vw;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 0.4vw solid rgba(0, 0, 0, 0.911);
}

@media (max-width: 700px) {
  header {
    height: 25vw;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    gap: 2vw;
    justify-content: center;
  }
  #password {
    height: 80vh;
  }
  .passwordmain {
    height: 60vh;
    width: 80vw;
    /* justify-content: space-around; */
  }
  .passwordtext h1 {
    font-size: 5.4vw;
  }
  .passwordtext p {
    font-size: 2.9vw;
    max-width: 75vw;
  }
  .passwordform {
    height: 15vh;
    width: 80vw;
  }
  #passwordoutput {
    font-size: 3vw;
    height: 4vh;
    width: 36vw;
  }
  #passwordstat {
    font-size: 3vw;
    width: 23vw;
  }
  .inputform {
    height: 5vh;
    width: 70vw;
    border-bottom: 1vw solid aliceblue;
  }
  .inputform button {
    width: 10vw;
    height: 10vw;
    border-radius: 4vw;
  }
  #rebootpassword {
    display: none;
    opacity: 0;
  }
  .inputform button img {
    width: 6vw;
  }
  .passwordconditions {
    max-width: 70vw;
  }
  .passwordconditions p {
    font-size: 3.2vw;
  }
  .passwordconditions p input {
    width: 4vw;
    height: 4vw;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 35vw;
    height: 2vw;
    border-radius: 5px;
    margin: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background: #686868;
    cursor: ew-resize;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  #startbut {
    width: 50vw;
    height: 7vh;
    font-size: 5vw;
  }
  #navigation {
    height: 43vw;
    padding: 4vw;
  }
  #navigation h1 {
    font-size: 6vw;
  }
  #navigation li {
    font-size: 4vw;
  }
  .hr1 {
    margin-top: 6vw;
  }
  #footer {
    height: 20vw;
  }
  #footer h1 {
    font-size: 4vw;
  }
  #footer p {
    font-size: 3vw;
    max-width: 50vw;
  }
  #footer div:nth-child(2) div {
    width: 14vw;
  }
  #footer img {
    width: 8vw;
    height: 8vw;
  }
}
